@import "tailwindcss";

@layer base {
  body {
    background-color: #020617;
    color: #f8fafc;
  }
}

@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spinSlow 12s linear infinite;
}
